<div class="container">

    <div class=" d-flex flex-row justify-content-around flex-wrap p-5">

        <div class="card align-self-between p-3 mb-5" style="width:30%" *ngFor="let cupon of cupons">
            <form class="card-details ">
                <div class="form-group">
                    <!-- <p class="text-warning mb-0">Cupon Identity</p> -->
                    <p class="text" type="text" name="name" placeholder="Identity"><span class="t1"> Cupon Identity :
                        </span> {{cupon.cuponIdentity}}</p>

                    <!-- <p class="text-warning mb-0">NationalID</p> -->
                    <p class="text" type="text" name="name" placeholder="Id"><span class="t1">NationalID : </span> {{cupon.caseNational.nationalId}}
                    </p>

                    <!-- <p class="text-warning mb-0">Case Name</p> -->
                    <p class="text" type="text" name="exp" placeholder="Person Name" size="20" id="exp" minlength="20" maxlength="20" value="samira elsayed"><span class="t1">Case Name : </span> {{cupon.caseNational.name}}
                    </p>

                    <!-- <div class="col-sm-8">
                    </div> -->
                    <!-- <p class="text-warning mb-0">Money</p> -->
                    <p class="text" type="Money" name="exp" placeholder="EGP" size="20" id="exp" value="600.00">
                        <span class="t1">Money : </span> {{cupon.amountOfMoney}}
                    </p>
                </div>

                <div>
                    <!-- <p class="text-warning mb-0">Expiration</p> -->
                    <p class="text" type="date" name="cvv" placeholder="&#9679;&#9679;&#9679;" size="1" minlength="20" maxlength="20" alue="10/12/2022"><span class="t1">Expiration : </span> {{cupon.expireDate|date}}
                    </p>
                </div>

            </form>
        </div>
    </div>

    <div *ngIf="cupons?.length == 0" class="alert alert-primary mt-5  d-flex justify-content-center align-items-center" role="alert">
        <p>there is no cupons yet</p>
    </div>
</div>