<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12">
            <div class="card mx-auto" *ngFor="let cupon of cupons">
                <form class="card-details ">
                    <div class="form-group">
                        <p class="text-warning mb-0">Cupon Identity</p>
                        <p type="text" name="name" placeholder="Identity" value="6868786868668">{{cupon.cuponIdentity}}</p>
                    </div>
                    <div class="form-group">
                        <p class="text-warning mb-0">NationalID</p>
                        <p type="text" name="name" placeholder="Id" value="68644448668">{{cupon.caseNationalId}}</p>
                    </div>
                    <div class="form-group pt-2">
                        <div class="row d-flex">
                            <div class="col-sm-8">
                                <p class="text-warning mb-0">Case Name</p>
                                <p type="text" name="exp" placeholder="Person Name" size="20" id="exp" minlength="20" maxlength="20" value="samira elsayed">{{cupon.caseNational.name}}
                                </p>
                                <div class="col-sm-8">
                                </div>
                                <p class="text-warning mb-0">Amount of Money</p>
                                <p type="Money" name="exp" placeholder="EGP" size="20" id="exp" value="600.00">{{cupon.amountOfMoney}}</p>
                            </div>
                            <div class="col-sm-8">
                                <p class="text-warning mb-0">Expiration</p>
                                <p type="date" name="cvv" placeholder="&#9679;&#9679;&#9679;" size="1" minlength="20" maxlength="20" alue="10/12/2022">{{cupon.expireDate|date}}</p>
                            </div>

                            <div class="col-sm-5 pt-0"> <button type="button" class="btn btn-primary">OK</button> </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>