<!-- Site footer -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About Us</h6>
        <p id="about" class="text-justify">
          GiveLife.com
          <br />
          In our application you will find GiveLife is a globally recognized
          charity App, that connect you the donor directly with the charity of
          your choice via the app delivery service. With a few simple steps you
          are able to donate anything your heart desires to the charity of your
          choice in your city. We ensure to support every type of charity and
          humanitarian event possible, including natural disaster affected
          areas.
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li>
            <a href="http://GiveLife.com/category/">Education</a>
          </li>
          <li>
            <a href="http://GiveLife.com/category/">Medical Help</a>
          </li>
          <li><a href="http://GiveLife.com/category/">Healthy Food</a></li>
          <li><a href="http://GiveLife.com/category/">Clean Water</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <img
          src="https://image.flaticon.com/icons/png/512/786/786660.png"
          style="height: 180px; border-radius: 3%"
        />
      </div>
    </div>
    <hr />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright &copy; 2021 All Rights Reserved by
          <a href="#">GiveLife</a>.
        </p>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
            <a href="#" class="fa fa-youtube"></a>
          </li>
          <li>
            <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
          </li>
          <li>
            <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
