<div class="container divkbera">
    <div class="row">
        <div class="col-md">
            <div class="parent">
                <div class="div1">
                    <textarea class="ele1 form-control" type="text" name="comment" form="usrform"
                        rows="5" required>
                    </textarea>
                </div>
                <div class="div2"><input class="form-control" placeholder="Required Amount.."></div>
                <div class="div3"> <input class="form-control" placeholder="NeedCategory.."></div>
                <div class="div4"> <input class="form-control" placeholder="Rest Amount.."></div>
                <div class="div5"><button type="submit"> Donate <i>♥</i> </button></div>
            </div>
        </div>
    </div>
</div>