@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&family=Roboto+Slab&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&family=Roboto+Slab&display=swap');

*{
    font-family: 'Mitr', sans-serif;
}

button{
    margin-top: 20px;
    margin-left: 25%;
    /* align-items: center; */
    /* margin: auto auto; */
    width: 50%;
    height: 38px;
    border-radius: 30px;
    border: none;
    background-color: #DC3545;
    font-weight: normal;
    color: white;
    font-size: large;
}

button:hover {
    background-color: white;
    border: 1px solid #DC3545;
    color: #DC3545;
    transition: 0.7s;
}

.card{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

body {
    font-family: 'Roboto', sans-serif
}

.filterTable{
    margin: auto;
    /* border: 1px #DC3545 solid; */
    margin-top: 40px;
    padding: 10px 25px;
    border-radius: 15px;
    text-align: center;
    width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.need {
    color: #DC3545;
    text-decoration: none;
}

.a{
    color: rgb(118,118,118);
    text-decoration: none;
    /* cursor: auto; */
}
.element{
    color: rgb(118,118,118);
    text-decoration: none;
    /* cursor: auto; */
}

.categoryFilter{
    display: inline-block;
    padding: 6px;

}

#card{
    width: 30%;    
}

@media only screen and (max-width: 993px) {
    #card{
        width: 45%;    
    }
}

@media only screen and (max-width: 768px) {
    #card{
        width: 90%;    
    }
}
