<nav class="navbar navbar-light bg-light">
    <ul class="nav justify-content-center">

        <li class="d-flex justify-content-start">

            <a class="navbar-brand" href="home" routerLink="/home" (click)="HomeClick();">
                <img src="https://image.flaticon.com/icons/png/512/786/786660.png" width="30" height="30" class="d-inline-block align-top" alt="">FeEdakTesa3ed
            </a>

        </li>
    </ul>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active text-dark mb-0 h6" href="Home" routerLink="/home" (click)="HomeClick();">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text-dark mb-0 h6" href="Posts" routerLink="/posts" (click)="PostsClick();">Posts</a>
        </li>
    </ul>
    <ul class="nav justify-content-end">

        <li class="nav-item dropdown">
            <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> <button type="button" class="btn btn-outline-danger"><img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-512.png" width="20" height="20"></button> </a>
            <ul class="dropdown-menu">
                <li *ngIf="!isLogin()"><a class="dropdown-item" href="signin" routerLink="/signin" (click)="SignInClick();">Sign In</a></li>
                <li *ngIf="!isLogin()"><a class="dropdown-item" href="signup" routerLink="/signup" (click)="SignUpClick();">Sign Up</a></li>
                <li *ngIf="isLogin()"><a class="dropdown-item" href="profile" routerLink="/profile" (click)="ProfileClick();">Profile</a></li>

            </ul>

        </li>

        <li class="nav-item">
            <button type="button" id="tomakespace" style="margin-top: 0.41rem;" href="posts" routerLink="/posts" (click)="PostsClick();" class="btn btn-outline-danger">DONATE NOW <i>♥</i> </button>
        </li>

    </ul>
</nav>

<!-- <ng-template #donateform let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            Step of Help
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
  
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">
        <form name="donateform" #donateform="ngForm" (ngSubmit)="onSubmit(donateform)">
            <div class="row">
                <div class="col-md">
                    <div class="parent">
                        <br>
                        <div class="div2"><input class="form-control" placeholder="Donated Amount.."></div>
                        <br>
                        <button class="div5 " type=" submit ">Donate <i>♥</i> </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template> -->